
<h3>Multiple selection</h3>
<p>
  <mat-form-field>
    <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect [ngxMatSelectSearchTrigger]='searchSelect'>
      <mat-select-trigger>
         <ng-container *ngIf='multiSelect.value?.length > 1'>{{multiSelect.value?.length}} selected</ng-container>
         <ng-container *ngIf='multiSelect.value?.length === 1'>{{multiSelect.value[0].name}} </ng-container>         
       </mat-select-trigger>
      <mat-option>
        <ngx-mat-select-search #searchSelect [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
        {{bank.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</p>
<p>
  Selected Banks:
</p>
<ul *ngFor="let bank of bankMultiCtrl?.value">
  <li>{{bank.name}}</li>
</ul>
